In [1]:
%matplotlib inline
import numpy
import pandas

In [2]:
 future_date = pandas.date_range("2017-01-01", "2018-12-31", freq="D", name="ds").to_frame()
 future_date.head(3)

                   ds
ds
2017-01-01 2017-01-01
2017-01-02 2017-01-02
2017-01-03 2017-01-03

In [5]:
t = future_date.ds.iloc[0]
type(t)

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
t.to_pydatetime()

datetime.datetime(2017, 1, 1, 0, 0)

In [31]:
import datetime
s = future_date.ds.iloc[0]
e = future_date.ds.iloc[-1]
print(s, e)
t = pandas.date_range(s, e, freq="6M")
t

2017-01-01 00:00:00 2018-12-31 00:00:00

DatetimeIndex(['2017-01-31', '2017-07-31', '2018-01-31', '2018-07-31'], dtype='datetime64[ns]', freq='6M')

In [33]:
from dateutil.relativedelta import relativedelta
ee = t[-1] + relativedelta(months=6)

In [45]:
tt = pandas.Series(t).append(pandas.Series(ee))

In [54]:
for s, e in zip(tt[:-1], tt[1:]):
    s = s.strftime("%Y/%d/%m")
    e = e.strftime("%Y/%d/%m")
    print(s, e)

2017/31/01 2017/31/07
2017/31/07 2018/31/01
2018/31/01 2018/31/07
2018/31/07 2019/31/01

In [ ]:
future_date.columns

In [ ]:
data_df = pandas.read_csv("../data/data.tsv", sep="\t", header=0, index_col="datetime", parse_dates=True)
data_df.head()

In [ ]:
data_df.index

In [ ]:
data_df.rename(columns=dict(datetime="ds"), inplace=True)
data_df.head()

In [ ]:
pandas.to_datetime(["2017-01-01"])

In [5]:
df = pandas.read_csv("../data/data.tsv", sep="\t", index_col="datetime", parse_dates=True)
df.index.name = "ds"
df.head(3)

                 y       temp      rain       sun      wind
ds
2013-01-01  1163.0  20.000000  0.000000  0.950000  6.100000
2013-01-02  1112.0  20.342857  0.000000  0.535714  4.428571
2013-01-03   527.0  16.278571  0.228571  0.014286  4.728571

In [23]:
df["2013-01-01":"2013-01-06"].sum()

y       6547.000000
temp     113.928571
rain       0.228571
sun        3.592857
wind      36.435714
dtype: float64

In [24]:
df["2013-01-07":"2013-01-13"].sum()

y       9526.000000
temp     150.642857
rain       0.000000
sun        4.078571
wind      44.078571
dtype: float64

In [26]:
df["2013-01-14":"2013-01-20"].sum()

y       8452.000000
temp     134.057143
rain       0.085714
sun        2.692857
wind      57.814286
dtype: float64

In [27]:
weekly_df = df.resample("W-MON", label="left", closed="left").sum()
weekly_df.head(3)

                 y        temp      rain       sun       wind
ds
2012-12-31  6547.0  113.928571  0.228571  3.592857  36.435714
2013-01-07  9526.0  150.642857  0.000000  4.078571  44.078571
2013-01-14  8452.0  134.057143  0.085714  2.692857  57.814286